/*タブレット*/
@media all and (max-width: 960px) {
	/*header*/
	.header .scroll-nav-inner {
		border-spacing: 30px 0;
	}

	.share-item {
		font-size: 23px;
	}

	/*Info*/
	.info {
		height: 1000px;
	}

	.info .news {
		width: 100%;
	}

	.info .about {
		width: 100%;
	}

	/*works*/
	.card-item {
		width: 50%;
	}
}

/*スマホ*/
@media all and (max-width: 600px) {
	body {
		font-size: 14px;
	}

	/*header*/
	.header {
		height: 100px;
		text-align: center;
	}

	.header .scroll-nav {
		position: relative;
		top: 0;
		left: 0;
		display:inline-block;
		padding-top: 13px;
	}


	.header .scroll-nav-inner {
		border-spacing: 20px 0;
	}

	.share-item {
		font-size: 20px;
	}

	/*first-view*/

	.first-view-inner .site-title h1 {
		font-size: 68px;
	}

	section {
		padding: 110px 20px 20px;
	}

	/*Info*/
	.slides {
		width:100%;
	}

	.slide {
		width:100%;
	}

	.slide .slide-text {
		width:100%;
	}

	.slide .slide-text h3 {
		font-size: 32px;
	}

	.about-txt ul li {
		padding: 3px;
	}

	/*works*/
	.card-item {
		width: 100%;
	}

	/*contact*/
	.contact-inner .sns {
		margin: 10px auto;
		border-spacing: 20px;
		font-size: 33px;
	}
}