/*---common---*/
* {
	margin: 0;
	padding: 0;
}

h1,h2,h3 {
	margin: 0;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-weight: bold;
}

a,a:visited {
	color: #369;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

li {
	list-style: none;
}

.btn-area {
	display: table;
	margin: 20px auto;
}

.btn-area a {
	display: table-cell;
	padding: 7px 12px;
	background-color: #369;
	opacity: 0.7;
	color: #fff;
}

.btn-area a:hover {
	opacity: 1.0;
}
/*---/common---*/

body {
	width: 100%;
	height: 100%;
}

/*---<header>---*/
header {
	width: 100%;
	height: 100vh;
}

header .wrapper {
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

header .wrapper #mov {
	display: block;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
	z-index: -1;
}

header .wrapper .black-filter {
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
}

/*title*/
header .wrapper .site-title {
	position: absolute;
	top: 20%;
	left: 20%;
	margin-top: -60px;
	margin-left: -130px;
	text-align: center;
	color: white;
}

header .wrapper .site-title h1 {
	font-size: 90px;
}

header .wrapper .site-title h2 {
	margin-top: 10px;
	font-size: 20px;
}

/*isMute*/
header .wrapper .sound {
	position: absolute;
	top: 30px;
	right: 50px;
	color: #fff;
	font-size: 35px;
}

header .wrapper .sound #soundToggle {
	cursor:pointer;
}

header .wrapper .down-arrow {
	position: absolute;
	left: 50%;
	bottom: 10%;
	color: white;
	font-size: 25px;
}

/*---</header>---*/

/*---<about>---*/
#about {
	padding:50px;
	text-align: center;
}

#about h2 {
	font-size: 28px;
	margin-bottom: 10px;
}

#about p {
	margin-top: 7px;
}


/*----<footer>---*/
footer {
	color: #666;
	padding:10px 0 40px;
	text-align: center;
	background-color: #eee;
}

footer .logos {
	margin: 20px auto;
	display: table;
	border-collapse: separate;
	border-spacing: 20px 0;
}

footer .logos a {
	display: table-cell;
}

footer .logos img {
	width: 80px;
	height:80px;
}

footer .copy-right {
	margin-top: 10px;
	font-size: 12px;
}